<component name="libraryTable">
  <library name="spring-jdbc-5.1.9.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-jdbc-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/mysql-connector-java-5.1.7-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/jsqlparser-2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-core-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/aspectjweaver-1.9.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-aspects-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/commons-io-2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/dom4j-2.1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-jcl-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-beans-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/mybatis-3.5.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-expression-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-aop-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/mybatis-spring-2.0.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/jstl-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/javax.servlet_3.1.0.v201410161800.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/dom4j-2.0.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/commons-fileupload-1.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/pagehelper-5.1.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/druid-1.1.22.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/log4j-api-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-context-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spotbugs-annotations-3.1.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/log4j-core-2.12.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/fastjson-1.2.72.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-web-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-tx-5.1.9.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../java架包/ssm架包/spring-webmvc-5.1.9.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>